{% extends "layout.html" %}
{% block body %}
    <nav class="navbar navbar-light bg-light" style="justify-content: center;">
        <span class="navbar-brand mb-0 h1">Choose Integration Task</span>
    </nav>
    <div class="container-fluid" style="padding-left: 20%">
        <div class="row">
            <div class="col">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "success" %}
                                <div class="alert alert-success" role="alert">{{ message }}</div>
                            {% elif category == "error" %}
                                <div class="alert alert-danger" role="alert">{{ message }}</div>
                            {% else %}
                                <div class="alert alert-info" role="alert">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin: 20px">
                <form method="post">
                    <div class="row">
                        <div class="form-group row" >
                            <label class="col-2 col-form-label" for="task">Task</label>
                            <div class="col-10" style="margin: 10px">
                                <select class="form-control" name="task" id="task">
                                    <option value="None">-- Select Inbound task --</option>
                                    {% for task in tasks %}
                                        <option value="{{ task.value }}"
                                                {% if form_values.get("task") == task.value %}selected{% endif %}>
                                            {{ task.value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" >
                            <label class="col-2 col-form-label" for="frequency">Frequency</label>
                            <div class="col-10" style="margin: 7px">
                                <select class="form-control" name="frequency" id="frequency">
                                    <option value="None">-- Select task Frequency --</option>
                                    {% for frequency in frequencies %}
                                        <option value="{{ frequency.value }}"
                                                {% if form_values.get("frequency") == frequency.value %}selected{% endif %}>
                                            {{ frequency.value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="submit" class="btn btn-success btn-lg">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
